.aboutUsMainDiv{
    width: 100vw;
    height: 80vh;
    overflow: hidden;
/* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.aboutUsMainDiv .aboutUsText{
    width: 30%;
    height: 30%;
    /* background-color: yellowgreen; */
    font-family: 'Recursive', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px !important;
    color: #333333;
}
.aboutUsMainDiv .aboutUsdetails{
    width: 30%;
    height: 35%;
    /* background-color: teal; */
    font-family: 'Recursive', sans-serif;
    text-align: center;

}

@media(max-width:768px){
    .aboutUsMainDiv{
        height: 100vh;
    }
    .aboutUsMainDiv .aboutUsText{
        width: 80%;
        height: 30%;
        
    }
    .aboutUsMainDiv .aboutUsdetails{
        width: 80%;
        height: 40%;
    
    }
}