*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.appMainDiv{
    width: 100vw;
    /* min-height: 200vh; */
    min-height: auto;
    /* background-color: coral; */
}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    /* background-color:  #1d8ba1; */
    background: linear-gradient( #FD6D0D ,#DF3515, #D12692);
}